##
#DIRECTORIES
data/*
!data/sample
output/
*.pth
samples/
runs
projector/
__pycache__/
*.pylintrc

.vscode/
.idea/
.ganomaly/
.ipynb_checkpoints

lib/data/__pycache__/
lib/loss/__pycache__/
lib/models/__pycache__/
lib/visualize/__pycache__
lib/__pycache__/

options/__pycache__/
utils/__pycache__/
